In [1]:
#VARIABLES

#nombre de variables de varias palabras

#ESTUCHE DE CAMELLO: Es donde cada palabra excepto la primera incia en mayusculas
myVariableCamello = 'Camello'

#CASO PASCAL: Cada palaba comienza con una letra mayuscula

CasoPascal = 'Pascal'

#CASO DE LA SERPIENTE: Cada palabra esta separada por un guion bajo
caso_serpiente_ejem = 'Serpiente'

print([myVariableCamello,CasoPascal,caso_serpiente_ejem])

['Camello', 'Pascal', 'Serpiente']

In [2]:
#ASIGNACION DE MULTIPLES VALORES

#Muchos valores para multiples variables

x,y,z = 'orange','banana','cherry'
print(x)
#print(y)
print(z)

orange
cherry

In [3]:
a = b = c = 'flor'
print(a,b,c)
print(b)
print(c)

flor flor flor
flor
flor

In [4]:
#DESEMPAQUETAR UNA COLECCION
"""
Si tienes una coleccion de valores en una lista, tupla, etc,. 
Python te permite extraer los valores en variables a esto se
llama desempaquetar 
"""

frutas = ['kiwi','papaya','fresa']
x, y , z = frutas
print(x,y,z)
print(y)
print(z)

kiwi papaya fresa
papaya
fresa

In [5]:
print(x + y + z )

kiwipapayafresa

In [6]:
h =7
print(a,h)

flor 7

In [7]:
#VARIABLES GLOBALES
"""
Se crean fuera de una funcion, pueden ser utilizada por todos, 
tanto dentro como fuera de las funciones

"""

#Crea una variables fuera de una funcion y usala dentro de la funcion

x = 'awesome'

def myfunc():
    print("Pythos is " + x)

myfunc()

Pythos is awesome

In [8]:
"""
Si creas una variable con el mismo nombre dentro de una funcion, esta variable
será local y podra usarse dentro de la función, la variable global con el 
mismo nombre permanecera como estaba, global y con el valor original

"""
#Crear una variable dentro de una funcion, con el mismo nombre de la variable globañ

def func1():
    x = 'fantastic'
    print('Python is '+ x)

func1()

print('Python is ' + x)

Python is fantastic
Python is awesome

In [9]:
#VARIABLE GOLBAL DENTRO DE UNA FUNCION

def func2():
    global x
    x='dificult'
    print('python is '+x)

func2()
print('python is '+x)

python is dificult
python is dificult

In [10]:
#NUMERO ALEATORIO

"""
Python no tiene una random() funcion para crear un numero aleatorio, pero
python tiene un modulo incorporado llamado "random" que se puede usar para
crear numeros aleatorios
"""
#Importar el modulo aleatorio y muestre un numero aleatorio del 1 al 9

import random

print(random.randrange(1,10))

8

In [11]:
#Obtener el caracter en la poscion 1

name = 'Flor Deyanira Galicia Martinez'

name[2:9]

'or Deya'

In [12]:
#RECORRER CADENAS

for x in name:
    print(x)

F
l
o
r

D
e
y
a
n
i
r
a

G
a
l
i
c
i
a

M
a
r
t
i
n
e
z

In [13]:
#Compruebe si galicia esta en la cadena
print('Galicia' in name)

True

In [14]:
#IF
if 'Galicia' in name:
    print('yes, "Galicia" esta presente')

yes, "Galicia" esta presente

In [15]:
print('Samantha'not in name)

True

In [16]:
#if
if 'Samanta' not in name:
    print("'Samanta' no esta en name")

'Samanta' no esta en name

In [17]:
#SLICING (Cortar cadenas)

#REBANAR
print(name[:8])

Flor Dey

In [18]:
#REBANAR HASTA EL FINAL
name[5:]

'Deyanira Galicia Martinez'

In [19]:
#INDEXACION NEGATIVA
name[-9:-2]

' Martin'

In [20]:
name[5:-6]

'Deyanira Galicia Ma'

In [21]:
#UPPER - METODO
print(name.upper())
#LOWER - METODO
print(name.lower())

FLOR DEYANIRA GALICIA MARTINEZ
flor deyanira galicia martinez

In [22]:
#STRIP - Eliminar espacios en blancos (metodo)
h ='   flord'
print(h.strip())
print(h)

flord
   flord

In [23]:
#REPLACE - reemplaza valores (metodo)

name.replace('F', 'FFF')
#           (Valor a cambiar, new value)

'FFFlor Deyanira Galicia Martinez'

In [24]:
#SPLIT - Divide la cadena en subcadenas si encuentra instancias del separador (metodo)

name1= 'flor deyanira, galicia martinez'
print(name1.split(','))

['flor deyanira', ' galicia martinez']

In [25]:
#CADENAS DE FORMATO - MARCADOR DE POSICON

"""
Se incluye un modificador agregando (:) seguido de un tipo de formato legal,
como .2f que significa un numero d epunto fijo con 2 decimale
"""
b = 54.9876543
txt = f'El precio es {b:.3f} pesos mexicanos.' # siempre redondea al entero mas cercano
txt

'El precio es 54.988 pesos mexicanos.'

In [26]:
#Un marcador de posicion puede contener codigo python, como operaciones matematicas
print(f"El precios {20*10} dollars")

El precios 200 dollars

In [27]:
#INSERTAR CARACTERES NO PERMITIDOS
txt = 'flor \'deyanira\' galicia martinez'
txt

"flor 'deyanira' galicia martinez"

In [28]:
txt = "flor deyanira galicia martinez."
#CAPITALIZE - Pone en mayusculas la primera letra de la cadena
print(txt.capitalize() + '  - capitalize')

#CASEFOLD - convierte todos los elementos de las cadenas en minusculas
print(txt.capitalize() + '  - casefold')

#CENTER - Regresar una cadena centrada
print(txt.center(120) + '  center')

#COUNT - Regresa el numero de veces que aparece un valor en la cadena
print(txt.count("flor"), '  -count')

#ENDSWITH - Comprueba si la cadena termina con un caracter
print(txt.endswith("."),'  - endswith')
#     endswith(value,start,end)
print(txt.endswith("."),'  - endswith')

#FIND - Encuentra la primera aparicion del valor especificado, y muestra la posicion si no encuentra valor regresa -1

print(txt.find('h'),'  - find')

#FORMAT - formatea los valores especificados y los inserta dentro del marcador de posicion de la cadena
a = 27 
name1 = f'flor {a:.2f} galicia '
print(name1 + ' - format')
print(txt.format(a='deyanira'),'  - format')
txt3='my name is {name}, tengo {age} años'.format(name= 'flor', age= 27)
txt3 + ' -format'

#INDEX - encuentra la primera aparicion del valor
print(name.index("a",14,20),'  - index')
#          .index(value,start,end)

#JOIN - toma todos los elementos d eun iterable y los une en una cadena
# Unir todos los elementos de una tupla en una cadena, utilizando un caracer hast como separador
my_tupla = ("flor","deyanira","galicia","martinez")
x = "#".join(my_tupla)
print(x, '  - join')

#LJUST - Alinea la cadena a la izquierda
x =name.ljust(40)
print(x, "Es mi nombre", '  -ljust')

#LSTRIP - Elimina los espacios a la izquierda de la cadena
y = '          flor '
print(y.lstrip(), '  -lstrip')

#str.maketrans - Devuelve una tabla de mapeo que se puede utilizar con el metodo para reemplazar caracteres especificos translate()
mytable = str.maketrans("a", "x")
#                      (valor old, new value)
print(name.translate(mytable), '   -maketrans y translate')


#PARTITION - Busca una cadena especifica y la divide en una tupla que contiene 3 elementos

print(name.partition('Galicia'), '  -partition')

#RFIND -  metodo encuentra la ultima ocurrencia del valor especificado, si no encuentra valor regresa -1, igual que rindex()

print(name.rfind('Martinez'), '-  rfind')

Flor deyanira galicia martinez.  - capitalize
Flor deyanira galicia martinez.  - casefold
                                            flor deyanira galicia martinez.                                               center
1   -count
True   - endswith
True   - endswith
-1   - find
flor 27.00 galicia  - format
flor deyanira galicia martinez.   - format
15   - index
flor#deyanira#galicia#martinez   - join
Flor Deyanira Galicia Martinez           Es mi nombre   -ljust
flor    -lstrip
Flor Deyxnirx Gxlicix Mxrtinez    -maketrans y translate
('Flor Deyanira ', 'Galicia', ' Martinez')   -partition
22 -  rfind

In [29]:
#VALORES BOOLEANOS

a = 200
b = 300

if b > a:
    print('B es mayor')
else:
    print('A es mayor')

B es mayor

In [30]:
print(b > a)
print(a > b)

True
False

In [31]:
#BOOL () - Permite evaluar cualquier valor y darte true o false a cambio

print(bool(10)) #Cualuqier cadena es true excepto las vacias, el 0, none, false

#funciones devolviendo true

def myfunc():
    return True

if myfunc():
    print('YES')
else:
    print('NO')

True
YES

In [32]:
#isinstance() - dETERMINA SI UN OBJETO ES DE UN DETERMINADO TIPO DE DATO
g = 12.2
print(isinstance(g, int))

False

In [33]:
#LISTAS

"""
-Las listas se utilizan para almacenar varios elementos en una sola variable.
-Se crean utilizando CORCHETES []
-Los elementos de la lista estan ordenados,es decir, tienen un orden definido, y ese orden no cambiara
_Si se agregan nuevos elementos a una lsita, los nuevos elementos se colocan al final de la lista
-SE PUEDE MODIFICAR y PERMITE VALORES DUPLICADOS
-Los elementos de la lista estan indexados
-Los elementos de la lista pueden ser de CUALQUIER TIPO DE DATO
"""

thislist = ['appel', 'manzana','kiwi']
thislist

#LEN - longitud de la lista

print(len(thislist))

3

In [34]:
#LIST () - Constructor: crea listas
li = list(('ana','luis','maria'))
print(li)

['ana', 'luis', 'maria']

In [35]:
#ACCESO A ELEMENTOS DE LA LISTA
print(li[2])

maria

In [36]:
if 'appel' in thislist:
    print('si esta')

si esta

In [37]:
#Cambiar elementos de una lista
li[1] = 'rosa'
print(li)

#rango
thisli = [1,2,3,4,5,6,7,8,9]
thisli[1:5] = [00,11]
print(thisli)
# si inserta MAS elementos d elos que reemplaza, los nuevos elementos se insertaran
# donde especifico y los elementos restantes se movera en consecuencia

#si inserta MENOS elementos  d elos que reemplazan, los nuevos elementos se insertaran
#donde especifico y los elementos restantes se moveran en consecuencia

['ana', 'rosa', 'maria']
[1, 0, 11, 6, 7, 8, 9]

In [38]:
#INSERT() - Insertar elementos
thisli.insert(1,'flor')
#            (posicion, valor)
thisli

[1, 'flor', 0, 11, 6, 7, 8, 9]

In [39]:
#EXTEND() - Agregar elementos a una lista
frutas = ['uva','mango','sandia','papaya']
frutas2 =['kiwi','banana','guayaba']
frutas.extend(frutas2)
print(frutas)

['uva', 'mango', 'sandia', 'papaya', 'kiwi', 'banana', 'guayaba']

In [40]:
print(thisli.remove('flor'))
thisli
#si hay mas elementos iguales elimina el primer valor encontrado

None

[1, 0, 11, 6, 7, 8, 9]

In [41]:
#POP - Elimina elindice especificado
thisli.pop(1)
print(thisli)
# si no se especifica el indice elimina el ultimo elemento

[1, 11, 6, 7, 8, 9]

In [42]:
del thisli[5]
print(thisli)

[1, 11, 6, 7, 8]

In [43]:
# FOR - recorrer listas
for x in thisli:
    print(x)

1
11
6
7
8

In [44]:
#range() y len() - recorreer indices
for i in range(len(thisli)):
    print(thisli[i])

1
11
6
7
8

In [45]:
#WHILE - len()
i = 0
while i < len(thisli):
    print(thisli[i])
    i = i + 1

1
11
6
7
8

In [46]:
[print(x) for x in thisli]

1
11
6
7
8

[None, None, None, None, None]

In [47]:
#COMPRENSION DE LISTAS

"""
Ofrece una sintaxis mas corta cuando desea crear una nueva lista basada en los valores de una lista existente
"""
fruts = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
newlist = [] #forma larga

#forma larga

for x in fruts:
    if "a" in x:
        newlist.append(x)

print(newlist)

#comprension

newlist = [ x for x in fruts if "a" in x]
#newlist= [expression FOR  item IN iterable IF condicion == true]
print(newlist)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango']

In [48]:
#CONDICION - La condicion es como un filtro que solo acepta los elementos que evaluan como True

#Acepta unicamente articulos que no sean "manzana"

new = [x for x in fruts if x != 'apple']
new

['banana', 'cherry', 'kiwi', 'mango']

In [49]:
# sin ninguna if declaracion

nes = [x for x in fruts]
nes

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [50]:
#ITERABLE - Puede ser cualquier objeto iterable, como una lista, una tupla, un conjunto, etc.
#usando la range() funcion para crear un iterable

new =[x for x in range(10)]
new

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
#Acepte solo numeros menores a 5
new = [x for x in range(10) if x < 5]
new

[0, 1, 2, 3, 4]

In [52]:
#EXPRESION -  es el elemento actual en la iteracion, pero tambien es el resultado, que puedes manipular antes de que termine
#          - como un elemento de lista en la nueva lista

newlist = [x.upper() for x in fruts]
newlist

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [53]:
#Establezca todos los valores en la nueva lista en 'hola'
newlist=['hello' for x in fruts]
newlist

['hello', 'hello', 'hello', 'hello', 'hello']

In [54]:
#Devuelve 'naranja' en lugar de 'platano'
newlist = [x if  x != 'banana' else 'orange' for x in fruts]
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [55]:
#ORDENAR LISTAS

"""
ORDENAR LISTAS ALFANUMERICAMENTE

Los objetos de lista tiene un sort() metodo que rodenara la lista alfanumericamente, en orden ascendente, de forma predeterminada
"""

#ordenar lisras alfaumericamente

thislista = ['orange', 'mango', 'kiwi', 'pineapple', 'banana']
thislista.sort()
print(thislista)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [56]:
#Ordenar la lista numericamente
listnum = [100,50,65,82,23]
listnum.sort()
listnum

[23, 50, 65, 82, 100]

In [57]:
#ORDEN DESCENDENTE - Se utiliza el argumento de palabra clave reverse = true
thislista.sort(reverse = True)
thislista
listnum.sort(reverse = True)
listnum

[100, 82, 65, 50, 23]

In [58]:
"""
Personalizar la funcion de ordenacion - utilizando la palabra key = function la funcion devolvera un numero que se utilizara para ordenar la lista
(el numero mas bajo rpimero)
"""

#Ordene la lista segun que tan cerca este el numero de 50:

def myfunc(n):
    return abs (n - 50)
    
listnum = [100,50,65,82,23]
listnum.sort(key = myfunc)

print(myfunc)

<function myfunc at 0x0000018DDCD99A80>

In [59]:
#ORDENACION SIN DISTINCIÓN ENTRE MAYUSCULAS Y MINUSCULAS

#Sort distingue entre mayusculas y minusculas , por ende las mayusculas se orden primero
frutas = ['manzana', 'KIWI', 'Naranja', 'uva']
frutas.sort()
print(frutas)

['KIWI', 'Naranja', 'manzana', 'uva']

In [60]:
#STR.LOWER - funcion de ordenamiento que no distinga entre mayusculas y minusculas 
frutas.sort(key = str.lower)
print(frutas)

['KIWI', 'manzana', 'Naranja', 'uva']

In [61]:
#ORDEN INVERSO - reverse() metodo invierte el orden de clasificacion actual de los elementos
frutas = ['manzana', 'KIWI', 'Naranja', 'uva']
frutas.reverse()
print(frutas)

['uva', 'Naranja', 'KIWI', 'manzana']

In [62]:
#COPIAR LISTAS - Copy()

frut = ['apple', 'banana', 'cherry']
newfruts = frut.copy()
print(newfruts)

['apple', 'banana', 'cherry']

In [63]:
#Copia de una lista
thislist =[50,30,59,33]
newlist = list(thislist)
print(newlist)

[50, 30, 59, 33]

In [64]:
#OPERADOR CORTE
nume = [12,42,13,7,8,43,9]
newnume = nume[:]
print(newnume)

[12, 42, 13, 7, 8, 43, 9]

In [65]:
#TUPLAS

"""
-Se utilizan para almacenar varios elementos en una sola variable
-Almacena colecciones de datos
-INMUTABLE, es decir, NO se puede agregar, cmabiar o eliminar elementos una vez creada
-Se scriben con PARENTESIS ()
-Los elementos de tupla estan ordenados, es decir, tienen un orden definido y ese orden NO se pueden modificar 
-PERMITE DUPLICADOS
-Estan indexados
-Los elementos de la tupla puden ser de cualquier tipo
-Pude contener diferentes tipos de datos
"""

#Crear tupla

tup = ('apple','banna','cherry')
tup

('apple', 'banna', 'cherry')

In [66]:
#LONGITUD DE LA TUPLA
len(tup)

3

In [67]:
#CREAR TUPLA CON UN ELEMENTO

#debes pone una coma al final o python no la reconocera como una tupla
thistupla = ('apple',)
type(thistupla)
thistupla

('apple',)

In [68]:
#CONSTRUCTOR TUPLA - tuple()
thistup = tuple((1,2,3,4,5,6,7))
thistup

(1, 2, 3, 4, 5, 6, 7)

In [69]:
#ACCESO A ELEMENTOS DE TUPLAS
thistup[1]

2

In [70]:
#INDEXACION NEGATIVA
thistup[-2]

6

In [71]:
#RANGO DE INDICES
thistup[2:6]

(3, 4, 5, 6)

In [72]:
#RANGO NEGATIVO
thistup[3:-1]

(4, 5, 6)

In [73]:
#Comprobar si existe

if 7 in thistup:
    print('yes')

yes

In [74]:
#ACTUALIZAR TUPLAS - CAMBIAR LOS VALORES DE LAS TUPLAS


#convertir la tupla a lista para poder modificar y despues volver a convertirlaen tupla

x = list(thistup)
y = list((8,9,10))
x.extend(y)
z = tuple(x)
type(z)
z

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [75]:
#AGREGAR ARTICULOS

p = tuple((11,12,13,14,15))
z += p
z

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)

In [76]:
#DESEMPAQUETAR TUPLAS

#en python tambien podemos extraer los valores de vuleta a las variables, esto se llama "desempaquetar"
fruts = ('apple','fresa','banana')
(x,y,z) = fruts
print(x)
#print(y)
print(z)

apple
banana

In [77]:
# USANDO ASTERISCO *

"""
Si el numero de variables  es menor que el numero de valores, puede agregar un * al nombre
de la variable y los valores se asignaran ala variable como una lista
"""

fruts = ('apple','fresa','banana','mango','kiwi','frambuesa')
(x,y,*z) = fruts
print(x)
print(y)
print(z)

apple
fresa
['banana', 'mango', 'kiwi', 'frambuesa']

In [78]:
#TUPLAS DE BUCLE

for x in fruts:
    print(x)

apple
fresa
banana
mango
kiwi
frambuesa

In [79]:
#RECORRER LOS NUMEROS DE INDICE - RANGE() Y LEN()

for i in range(len(fruts)):
    print(fruts[i])

apple
fresa
banana
mango
kiwi
frambuesa

In [80]:
#BUCLE WHILE - len()

i = 0

while i < len(fruts):
    print(fruts[i])
    i = i + 1

apple
fresa
banana
mango
kiwi
frambuesa

In [81]:
#UNIR DOS TUPLAS

x = (1,2,3)
y = ('a','b','c')
z = x + y
z

(1, 2, 3, 'a', 'b', 'c')

In [82]:
#MUTIPLICAR TUPLAS
x1 = ('ana','maria')
x1 * 2

('ana', 'maria', 'ana', 'maria')

In [83]:
#PYTHON SETS (conjuntos)

"""
Se utilizan para almacenar varios elementos en una sola variable
-DESORNENADA: no es posible hacer referencia a ellos por indice o clave
-NO permite duplicados
-Inmutabe : no se pueden modificar
-Se puede eliminar elementos
-Se puede agregar nuevos elementos
-NO indexada
-Se escriben con {}
-Puede contener diferentes tipos de datos
"""

#Crear un conjunto

thisset = {'apple','banana','cherry'}
print(thisset)

#los conjutnos no estan ordenados, por lo que no puedes estar seguro en que orden aparecen

{'banana', 'cherry', 'apple'}

In [84]:
#Los valores true y 1 se consideran el mismo valor en conjunto sy se trata como duplicados
thisset = {'apple','banana','cherry',True,1,2}
print(thisset)

{True, 2, 'banana', 'cherry', 'apple'}

In [85]:
#los valores False y 0 se consideran el mismo valor en conjuntos y se tratan como duplicados
thisset = {'apple','banana','cherry',True,False,0}
print(thisset)

{False, True, 'banana', 'cherry', 'apple'}

In [86]:
#Obtener la longitud de un conjunto - len()

thisset = {'apple','banana','cherry'}
print(len(thisset))
print(type(thisset))

3
<class 'set'>

In [87]:
#constructor - set()
thiset = set(('apple','banana','cherry'))
print(thiset)

{'banana', 'cherry', 'apple'}

In [88]:
#ACCEDER A ELEMENTOS - for - in
thisset = {'apple','banana','cherry'}
for x in thisset:
    print(x)

print('banana' in thisset)
print('banana' not in thisset)

banana
cherry
apple
True
False

In [89]:
#AGREGAR ELEMENTOS A UN CONJUNTO - add()

thisset = {'apple','banana','cherry'}
thisset.add('orange')
print(thisset)

{'orange', 'banana', 'cherry', 'apple'}

In [90]:
#AGREGAR CONJUNTOS - update()

thisset = {'apple','banana','cherry'}
tropical = {'pineapple','mango','papaya'}
thisset.update(tropical)
print(thisset)

{'banana', 'papaya', 'mango', 'cherry', 'pineapple', 'apple'}

In [91]:
#update: no tiene que ser solo otro conjunto
#puede ser cualquier iterable (tuplas,listas,diccionarios)

mylist = ['orange','kiwi']
thisset = {'apple','banana','cherry'}
thisset.update(mylist)
print(thisset)

{'kiwi', 'orange', 'banana', 'cherry', 'apple'}

In [92]:
#ELIMINAR ELEMENTOS DEL CONJUNTO -remove() -discard()
thisset = {'apple','banana','cherry'}
thisset.remove('banana')
print(thisset)

{'cherry', 'apple'}

In [93]:
thisset = {'apple','banana','cherry'}
thisset.discard('banana')
print(thisset)

{'cherry', 'apple'}

In [94]:
#LOOPS - Bucles

#FOR
thisset = {'apple','banana','cherry'}

for x in thisset:
    print(x)

banana
cherry
apple

In [95]:
#UNIR CONJUNTOS
"""
- update(),union(); unen todos los elementos de ambos conjuntos
- intersection(): conserva solo los duplicados
- difference(): metodo conserva los elementos del primer conjunto que no estan en los otros conjuntos
- symmetric_difference(): metodo conserva todos los elementos EXCEPTO los duplicados
"""

#UNION or |

set1 = {'a','b','c'}
set2 = {1,2,3}
set3 = set1.union(set2)
set4 = set1 | set2
print(set4, ' - |')
print(set3, ' -UNION')

#UNIR VARIOS CONJUNTOS or |
set1 = {'a','b','c'}
set2 = {1,2,3}
set3 = {'john','elena'}
set4 = {'apple','banana','cherry'}
myset = set1.union(set2,set3,set4)
print(myset, ' - UNION multiples sets')
myset = set1 | set2 | set3 | set4
print(myset, ' - | multiples sets')

# | solo se puede usar entre cojuntos

#INTERSECCIÓN

set1 = {'apple','banana','cherry'}
set2 = {'google','microsoft','apple'}

set3 = set1.intersection(set2)
print(set3, ' -intersection()')

set3 = set1&set2
print(set3, ' -& == intersection()')
# & solo se usa entre conjuntos

set1.intersection_update(set2)
print(set1, '  - intersection_update')
#conservara solo los duplicados, PERO cambiara el conjuntos original en lugar de devolver un nuevo conjunto

#DIFFERENCE or -
set1 = {'apple','banana','cherry'}
set2 = {'google','microsoft','apple'}
set3 = set1.difference(set2)
print(set3, ' - difference')
set3 = set1-set2
print(set3, ' - difference')

#DIFFERENCE_UPDATE
set1 = {'apple','banana','cherry'}
set2 = {'google','microsoft','apple'}
set1.difference_update(set2)
print(set1, ' - difference_update')

#DIFERENCIAS SIMETRICAS or ^ - symetric_difference()
set1 = {'apple','banana','cherry'}
set2 = {'google','microsoft','apple'}
set3 = set1.symmetric_difference(set2)
print(set3, ' - symmtric_difference')
#      ^
set3 = set1^set2
print(set3, ' - ^ symmtric_difference')

#symmetric_difference_update()
set1 = {'apple','banana','cherry'}
set2 = {'google','microsoft','apple'}
set1.symmetric_difference_update(set2)
print(set1, ' - symmetric_difference_update')

{'c', 1, 2, 3, 'a', 'b'}  - |
{'c', 1, 2, 3, 'a', 'b'}  -UNION
{1, 2, 3, 'elena', 'a', 'b', 'john', 'c', 'banana', 'cherry', 'apple'}  - UNION multiples sets
{1, 2, 3, 'elena', 'a', 'b', 'john', 'c', 'banana', 'cherry', 'apple'}  - | multiples sets
{'apple'}  -intersection()
{'apple'}  -& == intersection()
{'apple'}   - intersection_update
{'banana', 'cherry'}  - difference
{'banana', 'cherry'}  - difference
{'banana', 'cherry'}  - difference_update
{'microsoft', 'google', 'banana', 'cherry'}  - symmtric_difference
{'microsoft', 'google', 'banana', 'cherry'}  - ^ symmtric_difference
{'microsoft', 'google', 'banana', 'cherry'}  - symmetric_difference_update

In [96]:
#METODOS DE SET


# isdidjoint()

x = {'apple','banana','cherry'}
y = {'google','microsoft','facebook'}
z = x.isdisjoint(y)
print(z)

# issubset() or <=

x = {'a','b','c'}
y = {'f', 'e', 'd', 'c', 'b', 'a'}
z = x.issubset(y)
print(z)
p = x<=y
print(p)

#issupersert () or >=

x = {'f', 'e', 'd', 'c', 'b', 'a'}
y = {'a','b','c'}

z = x.issuperset(y)
print(z)

p = x >= y

print(p)

True
True
True
True
True

In [97]:
#DICCIONARIOS
"""
- ORDENADA
- MODIFICABLE
- NO PERMITE DUPLICADOS
- {CLAVE:VALOR}
- Pueden ser de cualquier tipo de dato
"""

#Crear un diccionario
dic = {
    'brand':'ford',
    'model': 'mustang',
    'year': 1946
}

print(dic)
print(dic['brand'])
print(type(dic))

{'brand': 'ford', 'model': 'mustang', 'year': 1946}
ford
<class 'dict'>

In [98]:
#constuctor dic()
thisdic =  dict(name = 'john', age = 36, country = 'usa')
print(thisdic)

{'name': 'john', 'age': 36, 'country': 'usa'}

In [99]:
#ACCEDER A ELEMENTOS
print(thisdic['age'])

36

In [100]:
# get() - acceder a elementos del diccionario

x = thisdic.get('age')
print(x)

36

In [101]:
#OBTENER LLAVES - keys(): devolvera una lista de todas las claves del diccionario

x = thisdic.keys()
print(x)

dict_keys(['name', 'age', 'country'])

In [102]:
car = {
    'brand':'ford',
    'model':'mustang',
    'year':1964
}

x = car.keys()
print(x)

car['color'] = 'white'

dict_keys(['brand', 'model', 'year'])

In [103]:
print(x)

dict_keys(['brand', 'model', 'year', 'color'])

In [104]:
#OBTNER VALORES - values(): devolvera una lista de todos los valores del diccionario

y = car.values()
print(y)

dict_values(['ford', 'mustang', 1964, 'white'])

In [105]:
v = car['year'] = 1990
print(v)
z = car.values()
print(z)

1990
dict_values(['ford', 'mustang', 1990, 'white'])

In [106]:
x1 = car['color'] = 'red'
print(car)

{'brand': 'ford', 'model': 'mustang', 'year': 1990, 'color': 'red'}

In [107]:
#OBTENER ARTICULOS - items(): devolvera cada elemento de un diciionario, como TUPLAS en una lista
x = car.items()
print(x)

dict_items([('brand', 'ford'), ('model', 'mustang'), ('year', 1990), ('color', 'red')])

In [108]:
#COMPROBAR SI EXISTE LA CLAVE
if 'model' in car:
    print('yes')

yes

In [109]:
#ACTUALIZAR DICCIONARIOS - update(): metodo utilizara el diccionario con los elementos del argumento dado

car.update({'year':2025})
print(car)

{'brand': 'ford', 'model': 'mustang', 'year': 2025, 'color': 'red'}

In [110]:
#ELIMINAR ELEMENTOS DEL DICCIONARIO - pop(): elimina el elemento con el nombre de clave especiificado
car.pop("year")
print(car)

{'brand': 'ford', 'model': 'mustang', 'color': 'red'}

In [111]:
car.popitem()
print(car)

{'brand': 'ford', 'model': 'mustang'}

In [112]:
del car['brand']
print(car)

{'model': 'mustang'}

In [113]:
#DICCIONARIOS DE BUCLES

carsf1 = {
    'name':'checo',
    'team': 'cadilac',
    'age': 32,
    'height': 1.70
}

for x in carsf1:
    print(x)

name
team
age
height

In [114]:
for x in carsf1:
    print(carsf1[x])

checo
cadilac
32
1.7

In [115]:
#usnado values()

for x in carsf1.values():
    print(x)

checo
cadilac
32
1.7

In [116]:
#keys()
for x in carsf1.keys():
    print(x)

name
team
age
height

In [117]:
#items()
for x in carsf1.items():
    print(x)

('name', 'checo')
('team', 'cadilac')
('age', 32)
('height', 1.7)

In [118]:
#COPIAR DICCIONARIOS

new = carsf1.copy()
print(new)

{'name': 'checo', 'team': 'cadilac', 'age': 32, 'height': 1.7}

In [119]:
#DICCIONARIOS ANIDADOS
myfamily = {
    'child1':{
        'name':'emil',
        'year':2004
    },
    'child2':{
        'name':'tobias',
        'year':2007
    },
    'child3':{
        'name':'linus',
        'year':2011
    }
}
print(myfamily)

{'child1': {'name': 'emil', 'year': 2004}, 'child2': {'name': 'tobias', 'year': 2007}, 'child3': {'name': 'linus', 'year': 2011}}

In [120]:
child1 = {
        'name':'emil',
        'year':2004
    }
child2 = {
        'name':'tobias',
        'year':2007
    }
child3 = {
        'name':'linus',
        'year':2011
    }

myfam = {
    'child1': child1,
    'child2': child2,
    'child3': child3
     
}
print(myfam)

{'child1': {'name': 'emil', 'year': 2004}, 'child2': {'name': 'tobias', 'year': 2007}, 'child3': {'name': 'linus', 'year': 2011}}

In [121]:
#ACCEDER A LOS ELEMENTOS DE DICCIONARIOS ANIDADOS

#para accceder a los elementos utilice el nombre de los diccionarios, comenzando con el diccionario externo

print(myfam['child2']['year'])
# print(dic, ext [dic. interno][clave])

2007

In [122]:
#RECORRER DICCIONARIOS ANIDADOS - items()

for x, obj in myfam.items():
    print(x)
    for y in obj:
        print(y + ':', obj[y])

child1
name: emil
year: 2004
child2
name: tobias
year: 2007
child3
name: linus
year: 2011

In [123]:
#METODOS DE UN DICCIONARIO

#.fromkeys(): devuelve un diccionario con las claves especificadas y valor especificado

x = ('key1', 'key2', 'key3')
y = 0
thisdic = dict.fromkeys(x,y)
print(thisdic, ' -fromkeys')

{'key1': 0, 'key2': 0, 'key3': 0}  -fromkeys

In [124]:
#IF  AND IF-ELSE

a = 33
b = 200
if b > a:
    print('b i sgreater than a')

b i sgreater than a

In [125]:
#ELIF

"""
La palabra clave elif es la forma que tiene python de decir "si las condiciones anteriores no eran verdaderas,
entonces prueba esta condicion"
"""
a = 33
b = 33
if b > a:
    print('b i sgreater than a')
elif a == b:
    print('a and b are equal')

a and b are equal

In [126]:
#ELSE 

"""
captura cualquier cosa que no este capturada por las condiciones anteriores
"""

a = 200
b = 33
if b > a:
    print('b i sgreater than a')
elif a == b:
    print('a and b are equal')
else:
    print('a is greater than b')
#tambien se puede tener un else sin elif

a is greater than b

In [127]:
#forma corta
if a > b: print('a is greter than b')

a is greter than b

In [128]:
#Abreviatura IF - ELSE
a = 2
b = 330
print('A') if a > b else print('B')

#esta tecnica se conoce como operadores ternarios o expresiones condicionales

B

In [129]:
#variod if - else en una linea
a = 330
b = 330
print('A') if a > b else print('=') if a == b else print('B')

=

In [130]:
#AND : Se usa para combinar declaraciones

a = 200
b = 33
c = 500
if a > b and c > a:
    print('both conditions are True')

both conditions are True

In [131]:
#OR: Se utiliza para combinar declaraciones condicionales
a = 200
b = 33
c = 500
if a > b or a > c:
    print('at least one of the condition is true')

at least one of the condition is true

In [132]:
#NOT: Se utiliza para revertir el resultado de  la delcaracion condicional
a = 33
b = 200
if not a > b:
    print('a is not greater than b')

a is not greater than b

In [133]:
# IF ANIDADOS 

x = 41
if x > 10:
    print('above ten,')
    if x > 20:
        print('and also above 20!')
    else:
        print('but not above 20.')

above ten,
and also above 20!

In [134]:
# LA DECLARACION DE PASE  - pass

"""
If declaraciones no pueden estar vacias, pero si por alguna razon tiene una if declaracion sin contenido,
coloque la pass declaracion para evitar obtener un error 
"""

a = 33
b = 200
if b > a:
    pass

In [135]:
#BUCLES WHILE : con el while podemos ejecutar un conjunto de sentencias siempre que una condicion sea verdadera

# imprima i siempre que i sea menor que 6
i = 1 #while requiere variables relevanes esten listas
while i < 6:
    print(i)
    i += 1 # siempre incrementar i o el bucle continuara para siempre

# i = varaible de indexacion

1
2
3
4
5

In [136]:
#LA DECLARACION DE RUPTURA -  break: podemos detener el bucle incluso si la condicion while es VERDADERA

#Salir del bucle cuando i es 3
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [137]:
#LA DECLARACION CONTINUA - continue: podemos detener la iteracion actual y continuar con la siguiente 
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [138]:
#LA DECLARACION ELSE : podemos ejecutar un bloque de codigo una vez cuando la condicion ya no sea verdadera
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print('i is no longer less than 6')

1
2
3
4
5
i is no longer less than 6

In [142]:
#FOR 
"""
for es usado para iterar sobre una secuencia, podemos ejecutar un conjunto de sentencias.
"""

fruits = ['appel','banana','cherry']
for x in fruits:
 print(x)

appel
banana
cherry

In [143]:
#recorriendo un string

for x in 'banana':
    print(x)

b
a
n
a
n
a

In [145]:
#Declaracion de ruptura - break

fruits = ['appel','banana','cherry']
for x in fruits:
    print(x)
    if x == 'banana':
     break

appel
banana

In [147]:
#Salir del bucle cuando x es bana, pero esta vez el salto viene antes de la impresion
fruits = ['appel','banana','cherry']
for x in fruits:
    if x == 'banana':
      break
    print(x)

appel

In [148]:
#Declaracion continua - continue

#no imprimir platano
fruits = ['appel','banana','cherry']
for x in fruits:
    if x =='banana':
        continue
    print(x)

appel
cherry

In [152]:
#La funcion range - range()

"""
Para recorrer un conjunto de codigo una cantidad especifica de veces, podemos usar la funcion range()
Esta devuelve una secuencia de numeros, comezando desde 0 por defecto y se incrementa en 1 (por defecto) y 
finaliza en un numero especificado
"""
for x in range(11,25,3):
    #    range(start, end(no incluye),step)
    print(x)

11
14
17
20
23

In [154]:
#La else palabra clave en un for bucle especifica un bloque de codigo que se jecutara cuando finalice el bucle
for x in range(11):
    print(x)
else: # este no se ejecuta si el bucle se deteine mediante un "break" 
    print('finally finished!')

0
1
2
3
4
5
6
7
8
9
10
finally finished!

In [155]:
#Rompe el bucle cuando x es 3 y observa que sucede con el bloque else
for x in range(11):
    if x == 3: break
    print(x)
else: 
    print('finally finished!')

0
1
2

In [156]:
#BUCLES ANIDADOS

#El bucle interno se ejecutara una vez por cada iteracion del "bucle externo"

#Imprime cada adjetivo para cada fruta:
adj = ['red','big','tasty']
fruits =['apple','banana','cherry']

for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [157]:
#LA DECLARACION DE PASE - pass

"""
los bucles for no pueden estar vacios, pero si hay algun bucle for sin contenido, ponlo en la pass declaracion para evitar tener un error
"""
for x in [0,1,2]:
    pass